.amenitiesSlider {
    position: relative;
}
.amenity {
    width: 87%;
    margin-right: 0px;
}

.amenity img {
    width: 100%;
}

.sliderContent {
    opacity: 0;
    position: absolute;
    bottom: 7rem;
    z-index: 97;
    background-color: rgb(4, 87, 75);
    padding: 1rem 3rem 1rem 10rem;
    max-width: 50%;
}

.showcontent {opacity: 1 !important;}

.sliderNav {
    position: absolute;
    top: 5rem;
    right: 2rem;
}

.navItem {
    color: var(--white);
    font-size: var(--xs-copy);
    font-family: 'GT Walsheim Light';
    -webkit-text-stroke: 1px var(--white);
    text-transform: uppercase;
}