.container {width: 100%; margin: auto; display: block;}

.leftIcon,
.rightIcon {
    width: 100%; 
    max-width: 15%; 
    margin: auto;
}

.halfBanner {
    height: 80vh;
    position: relative;
    width: 100%;
    margin: auto;
    display: block;
    overflow: hidden;
}

.backgroundImage {
    padding: 2rem 0rem 0rem 0rem;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.backgroundVideo {display: initial;}

.videoBackground {
    margin-top: 6rem;
}
.videoBackground video {
    max-width: 100%;
    position: relative;
}

.slides {
    width: 100%;
    margin: 0px;
}
.slides .sliderimage {width: 100%;}

.anchor:target {
    display: block;
    position: relative;
    top: -18rem; 
    visibility: hidden;
  }