.container {
	width: 100%;
	margin: auto;
	display: inline-block;
}

.container:first-of-type:has(.bgimgfade) {
	opacity: 1 !important;
}

.anchor {
	display: block;
	position: relative;
	top: -150px;
}

.fullanchor {
	display: block;
	position: absolute;
	top: -150px;
}

.textPaddingLeft {
	padding-left: 4rem;
}
.textPaddingRight {
	padding-right: 4rem;
}

.leftIcon,
.rightIcon {
	width: 100%;
	max-width: 50px;
	height: auto;
	margin: auto;
}

.halfBanner {
	height: 80vh;
	position: relative;
	width: 100%;
	margin: auto;
	display: block;
	overflow: hidden;
}

.backgroundImage {
	padding: 2rem 0rem 0rem 0rem;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 820px) {
	[data-page="/shop-orli"] .backgroundImage {
		background-position: left center;
	}
}

.backgroundVideo {
	display: block;
}

.overBackgroundLeft {
	position: absolute;
	right: 6rem;
	width: 30%;
	transform: translateY(-50%);
	top: 50%;
	z-index: 2;
}

.overBackground {
	width: 30%;
	position: absolute;
	z-index: 2;
	transform: translateY(-50%);
	top: 50%;
	left: 6rem;
}

@media screen and (max-width: 862px) {
	.overBackground {
		width: 100%;
		margin: 0;
		left: 0;
		right: 0;
		padding: 0rem 4rem;
	}
	.overBackgroundLeft {
		position: absolute;
		right: 0rem;
		left: 0;
		width: 100%;
		padding: 0rem 4rem;
		z-index: 2;
	}
}
@media screen and (max-width: 600px) {
	.overBackground {
		width: 100%;
		margin: 0;
		padding: 6rem 4rem;
	}
	.overBackgroundLeft {
		position: absolute;
		right: 0rem;
		left: 0;
		width: 100%;
		padding: 6rem 2rem;
		z-index: 2;
	}
}

.videoBackground {
	margin-top: 6rem;
}
.videoBackground video {
	max-width: 100%;
}

.videoBG {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.slides {
	width: 100%;
	margin: 0px;
}
.slides .sliderimage {
	width: 100%;
}

@media only screen and (max-width: 900px) {
	.textPaddingLeft,
	.textPaddingRight {
		padding: 2rem 0 0 0;
	}
}

.centerCenterText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9;
}

@media only screen and (max-width: 600px) {
	.centerCenterText {
		width: 100%;
		padding: 0rem 4rem;
	}
}

@media only screen and (max-width: 500px) {
	.centerCenterText {
		width: 100%;
		padding: 0rem 2rem;
	}
}
