.container {width: 100%; margin: auto; display: block;}

.leftIcon,
.rightIcon {
    width: 100%; 
    max-width: 15%; 
    margin: auto;
}

.videoBackground {
    margin-top: 6rem;
}
.videoBackground video {
    max-width: 100%;
    position: relative;
}