.blurbContainer { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 0 7.75rem;
    text-align: center;
}

.copy{
  width: 75%;
}

.icon {
    margin-bottom: 3rem;
    max-width: 5rem;
    margin: auto;
    display: block;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 1750px) {
  .intro-copy .copy{
    width: 85%;
  }
}
@media only screen and (max-width: 414px) {
  .intro-copy{
    padding:3rem 0;
  }
  .intro-copy .copy{
    text-align: left;
    width: 100%;
  }
}