.blurbContainer { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.blurbContainer video {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9;
}

.blurbContainer > div {
  z-index: 10;
}

.copy{
  width: 75%;
}

.icon {
    margin-bottom: 3rem;
    max-width: 5rem;
    margin: auto;
    display: block;
    text-align: center;
    width: 100%;
}

.backgroundMedia {
  position: relative;
  overflow: hidden;
  min-height: 70vh;
}

.backgroundMedia video {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.overContent { z-index: 9; }

@media only screen and (max-width: 1750px) {
  .intro-copy .copy{
    width: 85%;
  }
}
@media screen and (max-width: 800px) {
  .blurbContainer video {
    width: auto;
    height: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .intro-copy{
    padding:3rem 0;
  }
  .intro-copy .copy{
    text-align: left;
    width: 100%;
  }
}