.blurbLeftContainer {
    position: relative;
}

.icon {
    position: absolute;
    right: 0;
}

.content {
    max-width: 75%;
    margin-top: 0;
    margin-bottom: 4rem;
}

.cta { text-decoration: underline; }