.form {
    display: flex;
    height: 100px;
    align-self: flex-end;
    width: 100%;
    max-width: 100%;
}

.formGroup { 
    padding: 0 1.2rem; 
    align-self: center; 
    min-width: 38%;
}

.formGroup span { 
    text-transform: uppercase; 
    display: inline-block;
    /* padding-bottom: 10px; */
}

.formGroup input {
    border: 0;
    font-family: 'GT Walsheim Light';
    padding: 0.5rem 0;
    cursor: pointer;
    outline: none;
    width: 100%;
    font-size: 18px;
}

.form button {
    width: 100%;
    width: 25%;
    justify-content: flex-end;
    border: 0;
}

    .react-datepicker__navigation-icon--next::before {
        transform: rotate(45deg);
        left: -12px;
    }