/* -- Colors --*/
  .bg-lt-grey, .Grey-bg {
    background-color:var(--lt-grey);
  }
  .bg-navy{
    background-color:var(--navy);
  }
  .bg-green{
    background-color:var(--green);
  }
  .bg-white{
    background-color:var(--white);
  }

  .bg-brown {
    background-color: var(--brown);
  }
  
  .black {color: var(--black);}
  .white {color: var(--white);}
  .lt-grey {color: var(--lt-grey);}
  .brown {color:var(--brown);}