.arrow {
    width: 50px;
}
.paddinginner {
    padding: 0 2rem 0 2rem;
}
.flexcentera {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
}