.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0rem 0rem 0rem;
}

.fauxSocialFeedContainer {padding: 5.5rem 0rem;}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.max80 {
    width: 100%;
    margin: auto;
    max-width: 80%;
}

@media only screen and (max-width: 800px) {
    .grid {grid-template-columns: repeat(2, 1fr);}
    .max80 {max-width: 100%; padding: 0 2rem;}
    .topContainer {padding: 0 0 2rem 0;}
}