.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0rem 0rem 0rem;
}

.fauxSocialFeedContainer {padding: 4rem 0rem;}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}