.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%; 
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}