/*-- Typography --*/
@font-face {
	font-family: 'GT Walsheim Light';
	src:  url('../public/assets/fonts/GT-Walsheim-Light.woff2') format('woff2'),
		  url('../public/assets/fonts/GT-Walsheim-Light.woff') format('woff');
}
@font-face {
	font-family: 'GT Walsheim Bold';
	src:  url('../public/assets/fonts/GT-Walsheim-Bold.woff2') format('woff2'),
		  url('../public/assets/fonts/GT-Walsheim-Bold.woff') format('woff');
}

.serif {font-family: essonnes-display, serif;}
.sans-serif {font-family: 'GT Walsheim Light';}
.sans-serif-bold {font-family: 'GT Walsheim Bold';}

.letterSpacing {letter-spacing: var(--letter-spacing);}

.xl-heading {
    font-size: var(--xl-heading);
    font-family: essonnes-display, serif;
    font-weight: 300;
    font-style: normal;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.heading {
    font-size: var(--heading);
    font-family: essonnes-display, serif;
    font-weight: 300;
    line-height: 1.2;
    font-style: normal;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.pull-quote,
.heading-italic {
    font-family: essonnes-display, serif;
    font-weight: 300;
    line-height: 1.2;
    font-style: italic;
}
.pull-quote {font-size: var(--pull-quote);}
.heading-italic {font-size: var(--heading);}

.sub-heading {
    font-size: var(--sub-heading);
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
}

.sub-heading-bold {
    font-size: var(--sub-heading);
    font-family: 'GT Walsheim Bold';
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
}

.body-copy, input, textarea {
    font-size: var(--body-copy);
    font-family: 'GT Walsheim Light';
    line-height: 150%;
}
::placeholder {
    /* font-size: initial; */
    color: rgba(0,0,0,.5);
}
input[type="date"] {
    color: rgba(0, 0, 0, .7);
}

.xs-heading {
    font-size: var(--xs-copy);
    font-family: 'GT Walsheim Bold';
}
.xs-copy, ::placeholder {
    font-size: var(--xs-copy);
    line-height: 150%;
}

@media screen and (max-width: 768px) {
    .xs-copy {
        font-size: var(--body-copy);
    }
}

.nav-copy {font-size: var(--nav-copy); letter-spacing: 0.1rem;}

.bold { font-weight: bold; }

.uppercase {text-transform: uppercase;}
.underline {text-decoration: underline;}

address {font-style: normal;}

.cta-black, .cta-white {text-decoration: underline;}

.cta-black:visited, .cta-black:focus {color: var(--black);} 
.cta-white:visited, .cta-white:focus {color: var(--white);}

.active p {
    font-family: 'GT Walsheim Bold' !important;
} 

.inactive p {font-family: 'GT Walsheim Light';}

.inactive p:hover {
    color: var(--brown);
}

.textshadow {text-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.44);}

.text-link {transition: 0.3s ease all;}
.text-link:hover {color: var(--brown);}