/*-- Typography --*/
@font-face {
	font-family: 'GT Walsheim Light';
	src:  url('../public/assets/fonts/GT-Walsheim-Light.woff2') format('woff2'),
		  url('../public/assets/fonts/GT-Walsheim-Light.woff') format('woff');
}
@font-face {
	font-family: 'GT Walsheim Bold';
	src:  url('../public/assets/fonts/GT-Walsheim-Bold.woff2') format('woff2'),
		  url('../public/assets/fonts/GT-Walsheim-Bold.woff') format('woff');
}

.serif {font-family: essonnes-display, serif;}
.sans-serif {font-family: 'GT Walsheim Light';}
.sans-serif-bold {font-family: 'GT Walsheim Bold';}

.xl-heading {
    font-size: var(--xl-heading);
    font-family: essonnes-display, serif;
    font-weight: 300;
    font-style: normal;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.heading {
    font-size: var(--heading);
    font-family: essonnes-display, serif;
    font-weight: 300;
    line-height: 1.2;
    font-style: normal;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.pull-quote,
.heading-italic {
    font-family: essonnes-display, serif;
    font-weight: 300;
    line-height: 1.2;
    font-style: italic;
}
.pull-quote {font-size: var(--pull-quote);}
.heading-italic {font-size: var(--heading);}
.sub-heading {
    font-size: var(--sub-heading);
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
}

.sub-heading-bold {
    font-size: var(--sub-heading);
    font-family: 'GT Walsheim Bold';
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
}

.body-copy {
    font-size: var(--body-copy);
    font-family: 'GT Walsheim Light';
    line-height: 150%;
}

.xs-copy {
    font-size: var(--xs-copy);
    line-height: 150%;
}

.uppercase {text-transform: uppercase;}
.underline {text-decoration: underline;}

address {font-style: normal;}
