.fullFeatureBlog {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.fullFeatureBlogImage {
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 6rem;
    flex-direction: column;
    justify-content: space-between;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -ms-background-size: cover !important;
}

.white_arrow {
    width: 50px; margin: auto 1rem auto auto; display: inline;
}