.gatheringsContainer {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 6rem 0;
    gap: 8rem;
}
.videoBackground {
    margin-top: 6rem;
}
.videoBackground video {
    max-width: 100%;
    position: relative;
}
.left {
    flex: 1;
    position: relative;
}
.right {
    flex: 1.1;
    position: relative;
    /* max-width: 50%; */
}

.blurbpadding {padding: 4rem 0rem 0rem 0rem;}

@media only screen and (max-width: 800px) {
    .gatheringsContainer {flex-direction: column; gap: 4rem;}
    .left, .right {flex: 1;}
    .videoBackground {margin-top: 4rem}
}