html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --black:  #000000;
  --brown:  #8C361E;
  --navy:   #022543;
  --green:  #0C2B1C;
  --grey:   #707070;
  --lt-grey:#F2F1F0;
  --white:  #FFFFFF;

  --primary: var(--black);
  --secondary: var(--brown);

  --letter-spacing: 0.03rem;
  --xl-heading: clamp(3.5rem, 3.5vw, 6rem);
  --heading: clamp(3rem, 3vw, 6rem);
  --sub-heading: clamp(1.2rem, 1.4vw, 3.2rem);
  --body-copy: clamp(1.25rem, 1.25vw, 1.5rem);
  --nav-copy: clamp(0.9rem, 1.1vw, 1rem);
  --xs-copy: clamp(0.75rem, 1.0vw, 1.1rem);
}
