.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

.header .sitebranding {
    position: fixed;
    width: 100%;
    margin: auto;
    display: block;
    height: 6rem;
    z-index: 99;
    background: var(--white);
}

.header.open .sitebranding {background: transparent;}

.header .headerlogo {
    position: absolute;
    z-index: 100;
    width: 100%;
    max-width: 7rem;
    left: 4rem;
    top: 0;
    display: block;
}

.header.open .headerlogo {filter: invert(1);}

.header .primarybutton  {
    position: absolute;
    z-index: 100;
    height:6rem;
    width: fit-content;
    padding: 1.4rem 2rem 0rem 2rem;
    right: 0rem;
    top: 0;
    display: block;
    background: var(--brown);
    align-items: center;
    justify-content: center;
    transition: 0.3s ease all;
}

.header.open .primarybutton {display: none;}

.header .announcementbar {
    background: var(--green);
    width: 100%; 
    margin: auto; 
    display:flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

.header.open .announcementbar {display: none;}

.nav-copy {font-size: var(--nav-copy);}

.nav-copy a {text-decoration: none;}

.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    position: absolute;
    right: 260px;
    top: 2.5rem;
    z-index: 1;
    opacity: 1;
}

.hamburger .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger .hamburger-box {
    width: 50px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger .hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger .hamburger-inner, 
.hamburger .hamburger-inner::before, 
.hamburger .hamburger-inner::after {
    width: 50px;
    height: 1px;
    background-color: var(--black);
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger .hamburger-inner::before, 
.hamburger .hamburger-inner::after {
    content: "";
    display: block; 
  }

.hamburger .hamburger-inner::before {
    top: -10px; 
}

.hamburger .hamburger-inner::after {
    bottom: -10px; 
}

.navContianer {display: none; transition: 0.5s ease all;}

.navContianer.showMeMobile {
    display: inline-block !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100vh;
    background-color: var(--green);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 98;
    margin: 0;
}

.header .close {
    color: var(--white);
    position: absolute;
    font-size: 3rem;
    width: 40px;
    top: 2rem;
    right: 4rem;
    z-index: 100;
    display: none;
}

.header.open .close {
    color: var(--white);
    position: fixed;
    font-size: 3rem;
    width: 40px;
    top: 2rem;
    right: 4rem;
    z-index: 100;
    display: block;
}

.mainNav {
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-top: 8rem;
}
.mainNav li {
    font-family: essonnes-display, serif;
    font-size: var(--heading);
    padding: 0rem 0rem 0.3rem 4rem;
}

.fade-effect {
    opacity: 0;
}

.backgroundImage {
    width: 100%;
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    transition: 0.3s all linear;
}

.bottomnav {
    width: 100%;
    display: flex; 
    align-items: flex-start;
    padding: 0 4rem 4rem;
}

@media only screen and (max-width: 600px) {
    .hamburger {
        right: 2rem;
        top: 1.8rem;
    }

    .header .primarybutton  {
        position: absolute;
        z-index: 100;
        height:auto;
        width: fit-content;
        padding: 0.5rem 1rem 0.5rem 1rem;
        right: 7rem;
        top: 1.4rem;
        display: block;
        background: var(--brown);
        align-items: center;
        justify-content: center;
        transition: 0.3s ease all;
    }
    .header .primarybutton p {
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    .header .headerlogo {
        position: absolute;
        z-index: 100;
        width: 100%;
        max-width: 6rem;
        left: 2rem;
        top: -0.4rem;
        display: block;
    }
    .header .sitebranding {height: 5rem;}
}

@media only screen and (max-width: 428px) {
    .header .headerlogo {width: 5rem;}
}

@media only screen and (max-width: 388px) {
    .header .primarybutton  {
        position: fixed; 
        top: unset; 
        bottom: 0px; 
        left: 0px; 
        right: 0px; 
        width: 100%;
        margin: auto;
        display: block;
        text-align: center;
        padding: 1rem;
    }
}