.heroContainer { 
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 137px 0 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.heroVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

.horizontalFormContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: flex-end;
    margin-bottom: 115px;
    background-color: #fff;
    width: 80%;
    max-width: 1060px;
}

.bigheroSubnav {
    position: relative;
    width: 100%;
    margin: auto;
    display: inline-block;
}

.bigHero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
}

.herotextOver {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 9;
    width: 100%;
    padding: 0rem 4rem;
    display: block;
    margin: auto;
}

.subnavigationContainer {
    width: 100%;
    display: flex;
    position: fixed;
    background: var(--lt-grey);
    top: 128px;
    left:0px;
    right: 0px;
    z-index: 10;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    padding: 1rem 0rem 0rem 0rem;
}

.subnavigationContainer li {position: relative; margin: auto 2rem; cursor: pointer; transition: 0.3s ease all;}

.iconnav {
    width: 100%; 
    max-width: 60%; 
    margin: auto; 
    text-align: center; 
    display: block;
}
.subnavigationContainer li p {font-family: 'GT Walsheim'; font-weight: 300;}
.subnavigationContainer li:hover p {font-family: 'GT Walsheim'; font-weight: 700;}

/* Placeholder styles so no error is thrown */
.smallHero { display: initial;}

