.heroContainer { 
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 137px 0 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.heroVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

.horizontalFormContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: flex-end;
    margin-bottom: 115px;
    background-color: #fff;
    width: 80%;
    max-width: 1060px;
}

