.missionContainer {
    padding: 6rem 0;
}

.smallTitle {
    text-transform: uppercase;
    margin-top: 0;
}

.missionFlex {
    display:flex;
    flex-direction:row;
    justify-content: center; 
    padding: 7rem 0;
}

.headingAnimate {
        align-self: center;
        margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
    .missionContainer {
        padding: 6rem 0 0 0;
        height: 70vh;
    }

    .missionFlex {flex-direction:column; padding: 4rem 0 6rem 0;}

    .missionFlex .orliimage {
        flex: 1; 
        margin: auto;
    }
    .headingAnimate {margin-top: 2rem; margin-left: 0rem;}
}