.roomSlider {
    position: relative;
}

.cta {
    position: absolute;
    z-index: 1;
    color: #fff;
    right: 3rem;
    top: 2rem;
    text-decoration: underline;
}

.roomSliderNavigation {
    display: flex;
    position: absolute;
    bottom: 2rem;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.roomSlider p {
    color: var(--white);
    font-family: 'GT Walsheim Light';
    -webkit-text-stroke: 1px var(--white);
    text-transform: uppercase;
    font-size: var(--xs-copy);
}

.active {
    font-family: essonnes-display, serif !important;
    font-weight: 300;
    text-transform: unset !important;
    -webkit-text-stroke: unset !important;
    font-size: 2rem !important;
}

.room {
    width: 80%;
    margin-right: 0px;
    overflow: hidden;
    position: relative;
}
.room img {
    width: 100%;
}