.roomSlider {
    position: relative;
    overflow: visible;
}
.roomHeading {
    position: absolute;
    z-index: 10;
    left: 11rem;
    top: 3rem;
}
.cta {
    position: absolute;
    z-index: 1;
    color: #fff;
    right: 3rem;
    top: 2rem;
    text-decoration: underline;
}

.roomSliderNavigation {
    display: flex;
    position: absolute;
    bottom: 2rem;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    z-index: 2;
}

.roomSliderNavigation a {cursor: pointer;}

.roomSlider .roomSliderNavigation p {
    color: var(--white);
    font-family: 'GT Walsheim Light';
    -webkit-text-stroke: 1px var(--white);
    text-transform: uppercase;
    font-size: var(--xs-copy);
}

.active {
    font-family: essonnes-display, serif !important;
    font-weight: 300;
    text-transform: unset !important;
    -webkit-text-stroke: unset !important;
    font-size: 2rem !important;
}

.explore {display: none;}

.active .explore {
    width: fit-content;
    width: -webkit-fit-content;
    margin: auto;
    border-bottom: 1px solid var(--white);
    text-transform: none;
    transition: 0.3s ease all;
    display: block;
    font-size: clamp(0.9rem, 1.1vw, 1.3rem);
    padding: 1rem 0 0 0;
    text-align: center;
}

.active .explore:hover {
    color: var(--brown);
    border-bottom: 1px solid var(--brown);
}

.room {
    width: 80%;
    height: 85vh;
    margin-right: 0px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    -webkit-background-size: cover !important;
}

.roommobile {
    display: none;
}
.bottomgradient {
    width: 100%; 
    margin: auto; 
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.44) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.44) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.44) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
    height: 200px;
}

.roommobile {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    margin: auto;
    display: none;
    z-index: 9;
}

/* Swiper Styles */
.roomSlider :global(.swiper) {
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

.roomSlider :global(.swiper-wrapper) {
    align-items: center;
    height: 85vh;
}

.roomSlider :global(.swiper-slide) {
    width: 80% !important;
    height: 85vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomSlider :global(.swiper-slide-active) {
    z-index: 2;
}

.roomSlider :global(.swiper-slide-next),
.roomSlider :global(.swiper-slide-prev) {
    opacity: 0.9;
}

/* Swiper Navigation Arrows */
.roomSlider :global(.swiper-button-prev),
.roomSlider :global(.swiper-button-next) {
    color: transparent;
    width: 100px;
    height: 80px;
}

.roomSlider :global(.swiper-button-prev)::after,
.roomSlider :global(.swiper-button-next)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M3.3,48.9l39.2,31.1l0.1-5.2l-29.9-24h83.5l-0.1-4l-83.5,0l29.9-23.2v-4.9L3.3,48.9z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.roomSlider :global(.swiper-button-next)::after {
    transform: rotate(180deg);
}

.roomSlider :global(.swiper-button-prev):hover,
.roomSlider :global(.swiper-button-next):hover {
    opacity: 0.7;
}

@media only screen and (max-width: 800px) {
    .room {
        width: 100% !important;
        height: 85vh;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
    }
    .roomHeading {
        left: 2rem;
        top: 2rem;
    }
    .room img {display: block !important;}
    .roomSliderNavigation {display: none !important;}

    .roommobile {
        display: block;
    }
    
    .roomSlider :global(.swiper) {
        overflow: hidden !important;
    }
    
    .roomSlider :global(.swiper-slide) {
        width: 100% !important;
    }
    .roomSlider :global(.swiper-button-prev),
    .roomSlider :global(.swiper-button-next) {
        color: transparent;
        width: 44px;
        height: 44px;
        background: rgba(255,255,255,1.0);
        border-radius: 100%;
    }
    .roomSlider :global(.swiper-button-prev) {
        position: absolute;
        left: 1rem;
        z-index: 10;
    }
    .roomSlider :global(.swiper-button-next) {
        position: absolute;
        right: 1rem;
        z-index: 10;
    }
    .roomSlider :global(.swiper-button-prev)::after,
    .roomSlider :global(.swiper-button-next)::after {
        content: "";
        position: absolute;
        width: 70%;
        height: 70%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M3.3,48.9l39.2,31.1l0.1-5.2l-29.9-24h83.5l-0.1-4l-83.5,0l29.9-23.2v-4.9L3.3,48.9z' fill='%238c351f'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .roomSlider :global(.swiper-slide-next),
    .roomSlider :global(.swiper-slide-prev) {
        opacity: 1 !important;
    }
}
