.roomSlider {
    position: relative;
}
.roomHeading {
    position: absolute;
    z-index: 10;
    left: 11rem;
    top: 3rem;
}
.cta {
    position: absolute;
    z-index: 1;
    color: #fff;
    right: 3rem;
    top: 2rem;
    text-decoration: underline;
}

.roomSliderNavigation {
    display: flex;
    position: absolute;
    bottom: 2rem;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    z-index: 2;
}

.roomSliderNavigation a {cursor: pointer;}

.roomSlider .roomSliderNavigation p {
    color: var(--white);
    font-family: 'GT Walsheim Light';
    -webkit-text-stroke: 1px var(--white);
    text-transform: uppercase;
    font-size: var(--xs-copy);
}

.active {
    font-family: essonnes-display, serif !important;
    font-weight: 300;
    text-transform: unset !important;
    -webkit-text-stroke: unset !important;
    font-size: 2rem !important;
}

.explore {display: none;}

.active .explore {
    width: fit-content;
    width: -webkit-fit-content;
    margin: auto;
    border-bottom: 1px solid var(--white);
    text-transform: none;
    transition: 0.3s ease all;
    display: block;
    font-size: clamp(0.9rem, 1.1vw, 1.3rem);
    padding: 1rem 0 0 0;
    text-align: center;
}

.active .explore:hover {
    color: var(--brown);
    border-bottom: 1px solid var(--brown);
}

.room {
    width: 80%;
    height: 85vh;
    margin-right: 0px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    -webkit-background-size: cover !important;
}

.roommobile {
    display: none;
}
.bottomgradient {
    width: 100%; 
    margin: auto; 
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.44) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.44) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.44) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
    height: 200px;
}

.roommobile {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    margin: auto;
    display: none;
    z-index: 9;
}

@media only screen and (max-width: 800px) {
    .room {
        width: 100%;
        height: 85vh;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
    }
    .roomHeading {
        left: 2rem;
        top: 2rem;
    }
    .room img {display: block !important;}
    .roomSliderNavigation {display: none !important;}

    .roommobile {
        display: block;
    }
}