.roomsGrid {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 3rem;
}

.gridList {
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    list-style:none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.roomsGrid li:nth-child(1),
.roomsGrid li:nth-child(4),
.roomsGrid li:nth-child(8),
.roomsGrid li:nth-child(11) {
    width: 28.33%;
    position: relative;
    margin: 2% 1% 2% 5%;
}

.roomsGrid li:nth-child(3),
.roomsGrid li:nth-child(6),
.roomsGrid li:nth-child(10),
.roomsGrid li:nth-child(13) {
    width: 28.33%;
    position: relative;
    margin: 2% 5% 2% 1%;
}

.roomsGrid li:nth-child(2),
.roomsGrid li:nth-child(5),
.roomsGrid li:nth-child(9),
.roomsGrid li:nth-child(12) {
    width: 28.33%;
    position: relative;
    margin: 2% 1% 2% 1%;
} 

.roomsGrid li:nth-child(7) {
    width: 100%;
    display: block;
    position: relative;
    margin: 3% 0 3% 0;
    min-height: 65vh;
}

.roomsGrid li:nth-child(7) > a > div:first-of-type {
    min-height: 65vh;
}

@media screen and (max-width: 800px) {
    .roomsGrid li:nth-child(7) {
        min-height: unset;
    }
}

.roomsGrid li:nth-child(7) .text {
    position: absolute;
    bottom: 4rem;
    left: 5%;
    z-index: 9;
    display: block;
}

.roomsGrid li:nth-child(7) .text p {color: var(--white) !important;}

.room {
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.roomimage {display: none !important;}

.keyFt:before, .theme:before {
    content: "|";
    margin: 0 0.5rem;
}

@media only screen and (max-width: 800px) {
    .roomsGrid li:nth-child(1),
    .roomsGrid li:nth-child(3),
    .roomsGrid li:nth-child(5),
    .roomsGrid li:nth-child(8),
    .roomsGrid li:nth-child(10),
    .roomsGrid li:nth-child(12) {
        width: 44%;
        position: relative;
        margin: 1% 1% 7% 5%;
    }
    .roomsGrid li:nth-child(2),
    .roomsGrid li:nth-child(4),
    .roomsGrid li:nth-child(6),
    .roomsGrid li:nth-child(9),
    .roomsGrid li:nth-child(11),
    .roomsGrid li:nth-child(13) {
        width: 44%;
        position: relative;
        margin: 1% 5% 7% 1%;
    }
}
@media screen and (max-width: 600px) {
    .roomsGrid li:nth-child(1),
    .roomsGrid li:nth-child(3),
    .roomsGrid li:nth-child(5),
    .roomsGrid li:nth-child(8),
    .roomsGrid li:nth-child(10),
    .roomsGrid li:nth-child(12) {
        width: 100%;
        position: relative;
        margin: 0% auto 7% auto;
    }
    .roomsGrid li:nth-child(2),
    .roomsGrid li:nth-child(4),
    .roomsGrid li:nth-child(6),
    .roomsGrid li:nth-child(7),
    .roomsGrid li:nth-child(9),
    .roomsGrid li:nth-child(11),
    .roomsGrid li:nth-child(13) {
        width: 100%;
        position: relative;
        margin: 0% auto 7% auto;
    }
    .roomsGrid li:nth-child(7) .text {
        position: relative;
        bottom: unset;
        left: unset;
        z-index: 9;
        display: block;
    }
    .roomsGrid li:nth-child(7) > a > div:first-of-type {
        min-height: unset;
    }
    .roomsGrid li:nth-child(7) .text p {color: var(--black) !important;}

    .roomsGrid li:nth-child(1) .text,
    .roomsGrid li:nth-child(2) .text,
    .roomsGrid li:nth-child(3) .text,
    .roomsGrid li:nth-child(4) .text,
    .roomsGrid li:nth-child(5) .text,
    .roomsGrid li:nth-child(6) .text,
    .roomsGrid li:nth-child(7) .text,
    .roomsGrid li:nth-child(8) .text,
    .roomsGrid li:nth-child(9) .text,
    .roomsGrid li:nth-child(10) .text,
    .roomsGrid li:nth-child(11) .text,
    .roomsGrid li:nth-child(12) .text,
    .roomsGrid li:nth-child(13) .text {
        padding: 0rem 2rem 0rem 2rem;
    }
}