.photoContainer {
    display: flex;
    min-height: 50vh;
    gap: 5rem;
}

.photoContainer div:first-of-type {
    flex: 1;
    align-self: center;
}

.photoContainer div:last-of-type {
    flex: 1.5;
    position: relative;
    margin-bottom: 3rem;
    z-index: 1;
}

.videoBG {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media only screen and (max-width: 800px) {
    .left {display: none;}
}